{
    "printWidth": 100,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "useTabs": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "plugins": ["prettier-plugin-tailwindcss"],
    "importOrder": [
        "^react$",
        "^next/(.*)$",
        "^@/(.*)$",
        "^@components/(.*)$",
        "^@lib/(.*)$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderCaseInsensitive": true
}
